{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>timetk2</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Refresh" content="800">

    <link rel="stylesheet" href="{% static 'ttk2/min.css' %}">
  </head>
  <body>
    <nav class="nav" tabindex="-1" onclick="this.focus()">
      <div class="container">
        <a class="pagename current" href="#">timetk2</a>
        <a href="{% url 'activities' %}">Activities</a>
        <a class="current" href="#">Manage Netcodes</a>
        <a href="{% url 'historynow' %}">Edit History</a>
        <a href="{% url 'reportnow' %}">Reporting</a>
      </div>
    </nav>

    {% if error_message %}
    <div class="msg warning">
      <strong>{{ error_message }}</strong>
    </div>
    {% endif %}

    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <td>Enabled</td>
            <td>Network</td>
            <td>Activity</td>
            <td>Name</td>
            <td>Description</td>
            <td>Delete</td>
          </tr>
        </thead>
        <tbody>
        {% for netcode in netcode_list %}
          <tr>
            <td>
              <form action="{% url 'togglenetcode' netcode.id %}" method="post">
                {% csrf_token %}
                {% if netcode.enabled %}
                <button type="submit" class="btn btn-sm smooth btn-a">Enabled</a>
                {% else %}
                <button type="submit" class="btn btn-sm smooth btn-n">Disabled</a>
                {% endif %}
              </form>
            </td>
            <td>{{ netcode.network }}</td>
            <td>{{ netcode.activity }}</td>
            <td>{{ netcode.name }}</td>
            <td>{{ netcode.description }}</td>
            <td>
              <form action="{% url 'delnetcode' netcode.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-c btn-sm smooth">X</a>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <hr/>
    <div class="row">
      <form action="{% url 'netcodes' %}" method="post">
        {% csrf_token %}
        {{ newnetcodeform.as_table }}
        <button type="submit" class="btn btn-sm btn-b smooth">Add</button>
      </form>
    </div>
    <hr/>
    <footer>
      Logged in as <b>{{ request.user.username }}</b>. <a href="{% url 'logout' %}">Logout</a>
    </footer>
  </body>
</html>
